<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Frontend Test</title>
    <link href="style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
    function sendQuantity()
    {
        var quantity =
        {
            quantity:document.getElementById("txtQuantity").value
        }
        $.ajax({
             url: '/',
             data: JSON.stringify(quantity),
             dataType: 'text',
             contentType: "application/json; charset=utf-8" ,
             type: 'POST',
             success: function(data){
             }
            })
             .done(function(result){
                 var listDiv=document.getElementById("listDiv")
                 listDiv.innerHTML=result            
        });
    }
</script>
</head>
<body>
    <div id="listDiv" class="container">
    <div class="column left">
        <div class="vertical-center">
            <h3>Quantity</h3>
            <input type="number"  id="txtQuantity" name="txtQuantity" onchange="sendQuantity()" placeholder="Add to list" value="<%= num %>">
        </div>
    </div>
<div class="column right">
    <ol class="rounded-list">
        <% for (var i = 0; i <  num ; i++) { %>
            <li><a href=""></a></li>
        <% } %>
    </ol>
</div>
</div>
</body>
</html>